# Claude Code
.claude/

# .NET
bin/
obj/
*.user
*.suo
*.userprefs
artifacts/

# Angular / Node
node_modules/
dist/
.angular/
npm-debug.log*

# IDE
.vs/
.idea/
*.swp

# Sistema
Thumbs.db
.DS_Store

# .NET secrets locais
appsettings.Development.json
appsettings.*.Local.json
.env
