@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #0d1c2f,
    20: #233144,
    25: #2e3c50,
    30: #3a485c,
    35: #455368,
    40: #515f74,
    50: #6a788e,
    60: #8392a9,
    70: #9eacc4,
    80: #b9c7e0,
    90: #d5e3fd,
    95: #ebf1ff,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #171c24,
    20: #2c3139,
    25: #373c44,
    30: #424750,
    35: #4e535c,
    40: #595f68,
    50: #727781,
    60: #8c919b,
    70: #a7abb6,
    80: #c2c6d1,
    90: #dee2ee,
    95: #ecf1fc,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #002114,
    20: #003825,
    25: #00452e,
    30: #005137,
    35: #005f41,
    40: #006c4a,
    50: #00885f,
    60: #25a475,
    70: #49bf8f,
    80: #68dba9,
    90: #85f8c4,
    95: #beffdc,
    98: #e8fff0,
    99: #f4fff6,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1d,
    20: #303032,
    25: #3b3b3d,
    30: #474748,
    35: #525254,
    40: #5e5e60,
    50: #777778,
    60: #919092,
    70: #acabac,
    80: #c8c6c8,
    90: #e4e2e4,
    95: #f2f0f2,
    98: #fbf9fa,
    99: #fefbfd,
    100: #ffffff,
    4: #0e0e10,
    6: #131315,
    12: #1f1f21,
    17: #2a2a2b,
    22: #343536,
    24: #39393b,
    87: #dbd9db,
    92: #eae7e9,
    94: #efedef,
    96: #f5f3f5,
  ),
  neutral-variant: (
    0: #000000,
    10: #191c21,
    20: #2e3036,
    25: #393b41,
    30: #44474c,
    35: #505258,
    40: #5c5e64,
    50: #75777d,
    60: #8e9197,
    70: #a9abb2,
    80: #c5c6cd,
    90: #e1e2e9,
    95: #eff0f7,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7d0008,
    30: #93000b,
    35: #a9000f,
    40: #bf0715,
    50: #e42c2a,
    60: #ff544a,
    70: #ff897e,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
